body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #101A25;
    color: #fff;
}

.header {
    text-align: center;
    padding: 50px;
    background: linear-gradient(to bottom, #003366, #005999);
}

.header h1 {
    margin: 0;
    font-size: 3em;
}

.header p {
    font-size: 1.2em;
    margin: 10px 0;
}

.cta-button {
    background-color: #00bcd4;
    border: none;
    padding: 15px 30px;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}

.main-content {
    padding: 20px;
    max-width: 600px;
    margin: auto;
    text-align: left;
}

.main-content h2 {
    font-size: 2em;
}

.highlight {
    color: #00bcd4;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #003366;
}

.telegram-button {
    background-color: #0088cc;
    border: none;
    padding: 10px 20px;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}

.language {
    margin-left: 10px;
}